<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kart Shop</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

  <!-- Navigation -->
  <div th:insert="~{cliente/cliente_template.html::header}" th:if="${sesion==null}" ></div>


  <div th:insert="~{cliente/cliente_template.html::header-cliente}" th:unless="${sesion==null}" ></div>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h2>Categorías</h2>
            <form th:action="@{/filtrar}" method="get">
                <div th:each="categoria : ${categorias}">
                    <input type="radio" th:id="${'categoria-' + categoria.id}" th:name="categoria" th:value="${categoria.id}">
                    <label th:for="${'categoria-' + categoria.id}" th:text="${categoria.nombre}"></label>
                    <br>
                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
        </div>
        <!-- Lista de productos -->
        <div class="col-lg-9">
            <div class="row text-center">
                <div class="col-lg-3 col-md-6 mb-4" th:each="producto: ${productos}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="@{/images/{img} (img=${producto.imagen})}" alt="">
                        <div class="card-body">
                            <p class="card-text" th:text="${producto.nombre}"></p>
                        </div>
                        <div class="card-footer">
                            <a th:href="@{/homeproducto/{id} (id=${producto.id})}" class="btn btn-success">Ver producto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div th:insert="~{cliente/cliente_template.html::footer}" ></div>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>